body {
    margin: 60px auto;
    width: 100%;
    background-color: #f6f5f3;
}

ul.sidenav {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.footbar {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

ul.sidenav li{
    display: inline;
    margin-right: 20px;
    background-color: #393939;
}

ul.footbar li {
    display: inline;
    margin-right: 20px;
}

ul.sidenav a {
    text-decoration: none;
    color: #999;
}
ul.sidenav li a:hover:not(.active) {
  background-color: blue;
  color: white;
}

ul.sidenav a:hover {
    text-decoration: underline;
    background-color: #4CAF50;
    color: white;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}



h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
