<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" href="https://qiliang15.github.io/favicon.ico">
			<link rel="shortcut icon" href="https://qiliang15.github.io/favicon.ico">			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul class="topnav">
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
				<li><a href="/music">Music</a></li>
				<li><a href="/video-editing">Video Editing</a></li>
	        		<!-- <li><a href="/blog">Blog</a></li> -->
				<!-- <li><a href="/writing">Writing</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
    		<ul class="footbar">
        		<li><a href="mailto:jw2363@cornell.edu">Email</a></li>
        		<li><a href="https://github.com/qiliang15">Github.com/qiliang15</a></li>
		</ul>
		</footer>			
	<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
	<script src="js/index.js"></script>
	<script src="js/jquery-1.10.2.js"></script>	
	<script type="text/javascript">	
	$(window).scroll(function(){
    		if ($(window).scrollTop() >= 50) {
        		$('nav').addClass('fixed-header');
    		} else {
        		$('nav').removeClass('fixed-header');
    		}
	});
	</script>		
	</body>
</html>
